.FirstImage{
    width: 20%;
    border-radius: 7%;
}

.imagesContainer{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 50%;
}

.OtherImages{
    width: 40%;
    border-radius: 7%;
}