.articlesContainer {
    width: 50%;
    
}

.articleContainer{
    margin-top: 1vh;
    font-size: 24px;
    padding: 3%;
    padding-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

@media (max-width: 900px) {

    .articleContainer{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .articleContainer{
        font-size: 12px;
    }

}