.articlesContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;

    
}

.articleContainer{
    display: flex;
    height: 30%;
    justify-content: space-between;
    margin-top: 1vh;
    font-size: 24px;
    padding: 3%;
    padding-left: 2%;
    cursor: pointer;
    align-items: center;

}

.date{
    font-size: 50%;

}

.title{
    font-size: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 900px) {

    .articleContainer{
        font-size: 14px;
        height: 20%;
    }
}

@media (max-width: 600px) {
    .articleContainer{
        font-size: 12px;
        height: 15%;
    }
}


@media (max-width: 420px) {
    .articleContainer{
        height: 10%;
    }

}