.paper {
    margin: auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    gap: 25px;
} 

.typography{
    text-align: center;
    padding-top: 50px;
    padding-bottom:60px;
}

.logpass{
    width:70%;
}



@media(max-width: 400px){
    .paper{
        width: 70%;
        height: 60%;
    }
}