.fieldContainer{
    width: 60%;
    justify-content: right;
    align-items: center;
    display: flex;
    gap: 5%;
}

.form{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.fieldsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.inputField{
    width: 300px;
}

