.navigation{
    display: flex;
    width:90%;
    margin-top: 1%;
    gap: 10%;
    max-width: 100vh;
}

.navigation_login{
    display: flex;
    gap: 5%;
}

.nav_button {
    min-width: auto !important;
    &:focus{
        border-radius: 20px;
    }
}

@media (max-width: 900px) {
    .navigation {
        gap: 5%;
    }
    
    .navigation_login {
        gap: 3%;
    }
}

@media (max-width: 600px) {
    .navigation {
        gap: 0%;
        width: 70%;
    }

    .navigation_login {
        gap: 0.1%;
    }

    .nav_button {
    padding: 0 6px;

}

}

@media (max-width: 480px) {
    .navigation {
        gap: 0%;
        width: 40%;
    }

    .navigation_login {
        gap: 5%;
    }

    .nav_button {
    padding: 0 6px !important;
    font-size: 5px !important;
    width: 60% !important;

}

}
