.navigation{
    display: flex;
    width:100%;
    margin-top: 1%;
    gap: 10%;
}

.navigation_login{
    display: flex;
    gap: 5%;
}

.nav_button {
    &:focus{
        border-radius: 20px;
    }
}

