.paper{
    margin-top: 30px;

}

.typography {
    text-align: center;
}

.filterBar{
    display:flex;
    gap: 10px;
}

.typeSelect{
    width: 120px;
}

.priceSelect{
    width: 120px;

}

@media (max-width: 420px) {
    .filterBar{
        flex-direction: column;
    }
}